{% extends 'header.html' %}
{% load static %}

{% block nav %}
<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav py-0">
        <a href="{% url 'main' %}" class="nav-item nav-link">Басты бет</a>
        <a href="{% url 'about' %}" class="nav-item nav-link">Біз туралы</a>
        <a href="{% url 'course' %}" class="nav-item nav-link">Курстар</a>
        <a href="{% url 'teacher' %}" class="nav-item nav-link">Мұғалімдер</a>
        <div class="nav-item dropdown">
        </div>
        <a href="{% url 'contact' %}" class="nav-item nav-link active">Хабарласу</a>
    </div>
</div>
{% endblock nav %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Хабарласу</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'main' %}">Басты бет</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Хабарласу</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Хабарласу</h5>
                <h1>Кез келген сұрау бойынша хабарласыңыз</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form action="#" method="post">
                            {% csrf_token %}
              				{{ form.as_p }}
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Жіберу</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    {% endblock content %}